body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    position: relative;
}

h1 {
    margin: 0%;
    margin-right: 110px;
}

.upload-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    text-align: left;
}

input[type="text"],
input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}


textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 20%;
    height: 10%;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

.Back-btn {
    text-decoration: none;
    background-color: #f44336;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Back-btn:hover {
    background-color: #d32f2f;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
 
.btn:hover {
    background: #047887;
}
 

@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    button {
        padding: 8px 16px;
    }

    input[type="text"],
    input[type="file"] {
        padding: 8px;
    }
}
