body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.textbox {
    margin-bottom: 20px;
    position: relative;
}

.textbox input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    margin-bottom: 20px;
}

.remember-forgot .forgot {
    color: #ff5722;
    text-decoration: none;
    margin-right: 10px;
}

.remember-forgot .forgot:hover {
    text-decoration: underline;
}

.btn {
    width: 95%;
    padding: 10px;
    border: none;
    background: #2ccce1;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #047887;
}

.home {
    display: block;
    margin-top: 20px;
    color: #ff5722;
    text-decoration: none;
}

.home:hover {
    text-decoration: underline;
}
